<h1>Edit author</h1>

<%= form_with(model: @author, local: true) do |form| %>

  <% if @author.errors.any? %>
    <div id='error_message'>
      <p>
        The author couldn't be saved because of the following errors:
      </p>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :homepage %>
    <%= form.text_field :homepage %>
  </p>

  <p>
    <%= form.submit :submit%>
  </p>
<% end %>